html, body {
    height: 100%;
}

body {
    color: #111111;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.content-container {
    padding: 20px;
    background-color: #F9F9F9;
    flex: 1 0 auto;
}

.page-title {
    font-weight: bold;
    margin-bottom: 20px;
}

/* Header */
header {
    background-color: white;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

header .top-left-logo {
    height: 40px;
    padding-right: 5%;
}

header .cart-link {
    position: relative;
    display: block;
    margin-left: 25px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: rgb(83, 109, 254);
}

/* Products */
.gallery {
    width: 80%;
    margin: auto;
}

.products-card {
    max-width: 18rem;
    min-width: 18rem;
    margin: 10px;
}

.products-img {
    height: 200px;
}

/* Product */
.product-img-card {
    text-align: center;
}

.product-img {
    width: 100%;
}

.product-card {
    padding: 20px;
}

.product-qty {
    margin: 50px 10px;
}


/* Checkout */
.checkout-card {
    width: 50%;
    margin-bottom: 20px;
}

.checkout-img {
    height: 100px;
    float: left;
    margin-right: 20px;
}

/* Order History */
.table-img {
    height: 100px;
}
