<html>
	<h1>
		{{ .title }}
	</h1>
    <li>{{ .product.Name }}</li>
    <li>${{ .product.Price }}</li>
    <li><img src="{{ .product.Image }}" width="180" height="130"></li>
    <form action="/checkout" method="post">
        <input type="hidden" name="product_id" value="{{ .product.ID }}">
        Quantity: <input type="number" name="product_quantity">
        <input type="submit" value="Buy">
    </form>
</html>