<html>
	<h1>
		{{ .title }}
	</h1>
	<table border="1">
    <tr>
      <th>Product Name</th>
	  <th>Product Image</th>
	  <th>Product Quantity</th>
      <th>Ordered Date</th>
    </tr>
	<tr>
		<th>{{ .checkout.Product.Name }}</th>
		<th><img src="{{ .checkout.Product.Image }}" width="180" height="130"></th>
		<th>{{ .checkout.ProductQuantity }}</th>
		<th>{{ .checkout.CreatedAt }}</th>
	</tr>
  </table>
</html>